<a href="https://colab.research.google.com/github/Hadeer-Youssef/Problem-Solving/blob/main/Copy_of_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced programming and AI Frameworks

## copy — Shallow and deep copy operations

- #### A deep copy makes a new and separate copy of an entire object or list with its own unique memory address. What this means is that any changes you make in the new copy of the object/list won't reflect in the original one.

- #### A shallow copy also makes a separate new object object or list, but instead of copying the child elements to the new object, it simply copies the references to their memory addresses.

In [ ]:
import copy

In [ ]:
result_A = [[90, 85, 82],
            [72, 88, 90]] # Student A grades

result_B = copy.copy(result_A) # Student B grades (copied from A)

# Change first year and first subject's marks to 30
result_B[0][0] = 30

print("Original List: ")
print(result_A)
print("Shallow Copy:")
print(result_B)

Original List:
[[30, 85, 82], [72, 88, 90]]
Shallow Copy:
[[30, 85, 82], [72, 88, 90]]

In [ ]:
import copy

result_A = [[90, 85, 82], [72, 88, 90]] # Student A grades
result_B = copy.deepcopy(result_A) # Student B grades (copied from A)

# Change first year and first subject's marks to 30
result_B[0][0] = 30

print("Original List: ")
print(result_A)
print("Deep Copy:")
print(result_B)

Original List:
[[90, 85, 82], [72, 88, 90]]
Deep Copy:
[[30, 85, 82], [72, 88, 90]]

## pickle

- #### Python Pickle is used to serialize and deserialize a python object structure. Any object on python can be pickled so that it can be saved on disk.

In [ ]:
import pickle

In [ ]:
L=[1,2,3,4]

file = open('aaa', 'wb')
pickle.dump(L, file)
file.close()

In [ ]:
fo = open('aaa', 'rb')
d = pickle.load(fo)
#fo.close()
print(d)

[1, 2, 3, 4]

In [ ]:
def read_from_file(fileName):
    fo = open(fileName, 'rb')
    d = pickle.load(fo)
    fo.close()
    return d

In [ ]:
def write_to_file(data,f_name):
    # open a file, where you ant to store the data
    file = open(f_name, 'wb')
    # dump information to that file
    pickle.dump(data, file)

# close the file
    file.close()

In [ ]:
aa=[2,3,True,'AAAA']
write_to_file(aa,'bbbb')

In [ ]:
aa1=read_from_file('bbbb')

In [ ]:
aa1

[2, 3, True, 'AAAA']

## Read file line by line

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/learn_pytorch/python practice

/content/drive/MyDrive/learn_pytorch/python practice

In [ ]:
ls

aaa  bbbb

In [ ]:
def read_line_by_line_from_file(fname):
    f = open(fname, 'r')

    for line in f:
            print(line, end="")
    f.close()

read_line_by_line_from_file('file.txt')
# Using for loop

hello hadder
you will finish this journey
i promise you

In [ ]:
f = open('file.txt', 'r')
for line in f:
    print(line.split())
    for word in line.split():
        print(word)

['hello', 'hadder']
hello
hadder
['you', 'will', 'finish', 'this', 'journey']
you
will
finish
this
journey
['i', 'promise', 'you']
i
promise
you

In [ ]:
def add(a,b):

    return a+b

## Lambda expression

- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

### Syntax:
<font color='blue'><h5>lambda arguments : expression

In [ ]:
def add_5(x):
    return x + 5

print(add_5(100))

105

In [ ]:
r=lambda a:a+10

res=r(100)
print(res)

110

## Convert function to lambda

In [ ]:
def multiply_a_and_b(a,b):
    return a*b

res=multiply_a_and_b(3,-10)
print(res)

-30

In [ ]:
x=lambda a,b:a*b
print(x(1,10))

10

In [ ]:
m=lambda a,b: a*b

In [ ]:
print(m(30,10))

300

In [ ]:
def a_exp_b(a,b):
    return a**b


print(a_exp_b(2,5))

32

In [ ]:
e=lambda a,b:a**b
print(e(2,5))

32

In [ ]:
# example 1:

add= lambda a : a + 10
print(add(5))

# example 2:
x = lambda a, b : a * b
res=x(5, 6)
print(res)

15
30

### map() and lambda Function

- The map() function in Python takes in a function and a list.

- The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item

In [ ]:
def list_square(lst):
    res=[]
    for l in lst:
        res.append(l**2)

    return res

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

print(list_square(my_list))

[1, 25, 16, 36, 64, 121, 9, 144]

In [ ]:
list(map(lambda x:x**2,my_list))

[1, 25, 16, 36, 64, 121, 9, 144]

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
max_value = max(map(lambda x:x, my_list))
print(max_value)  # Output: 12

12

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
max_value = max(my_list, key=lambda x: x)
print(max_value)  # Output: 12

12

In [ ]:
list(map(lambda a:a**2,[3,4,5]))

[9, 16, 25]

### filter and lambda function
- In simple words, filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
<br>
<br>
- The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence “sequence”, for which the function returns True.

In [ ]:
my_list = [1,2,3,4,8,10,12,15 ]

# use anonymous function to filter and comparing

res1=list(filter(lambda x:x>10,my_list))


# printing the result
print(res1)

[12, 15]

### reduce
Python’s reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value. Python’s reduce() is popular among developers with a functional programming background, but Python has more to offer.

In [ ]:
product = 1
list22 = [1, 2, 3, 4]
for num in list22:
    product = product * num

print(product)
# product = 24

24

In [ ]:
from functools import reduce
print(reduce(lambda a,b:a+b,list22))

10

In [ ]:
from functools import reduce

def add(x, y):
    return x + y

list11 = [2, 4, 7, 3]
print(reduce(add, list11))

16

In [ ]:
from functools import reduce

list11 = [2, 4, 7, 3]

print(reduce(lambda x, y: x + y, list11))

print("With an initial value: " + str(reduce(lambda x, y: x + y, list11, 10)))

16
With an initial value: 26

In [ ]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

# Output: 24

In [ ]:
## Calculating the sum of the numbers from 1 to 100:
from functools import reduce
reduce(lambda x, y: x+y, range(1,101)) #  [1 ... 100]

5050

In [ ]:
from functools import reduce

r= lambda a,b: a if (a > b) else b

f = reduce( r, [47,11,42,102,13, 10])
print(f)

102

In [ ]:
f = lambda a: 'even' if (a %2==0) else 'odd'

res=list(map(f,[2,3,4,5,8]))

print(res)

['even', 'odd', 'even', 'odd', 'even']

## List comprehensions in Python

- List comprehensions provide you a way of writing for loops more concisely.
- They can be useful when you want to create new lists from existing lists or iterables.

In [ ]:
lst4=[4,3,5,3]
lst_res=[]
for ll in lst4:
    lst_res.append(ll*ll)
print(lst_res)

[16, 9, 25, 9]

### Syntax of List comprehensions

<font color= "red" size="3">Let's begin by writing a very basic for loop to list the first 15 multiples of 5. First, you need to create an empty list. Then, you have to iterate over a range of numbers and multiply them by 5. The new sequence of numbers that you get will consist of multiples of 5 </font>

In [ ]:
multiples = []

for n in range(1,16):
    multiples.append(n*5)

print(multiples)
# [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

In [ ]:
res=[n*5 for n in range(1,16)]
print(res)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

In [ ]:
print([1 for _ in range (20)])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
lst30=[3,4,5,8]
res6=[i**2 for i in lst30]
print(res6)

[9, 16, 25, 64]

### syntax of for

#### Write a program to print the even numbers between 1 and 20

In [ ]:
evens = []

for n in range(1,21):
    if n%2 == 0:
        evens.append(n)
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
res8=[n for n in range(1,21) if n%2==0]
res8

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lst40=[100,2,3,4,5,6,7]
res9=[n for n in lst40 if n%2==0]
res9

[100, 2, 4, 6]

In [ ]:
res10=[n**2 if n%2==0 else n**3 for n in range(1,16)]
res10

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375]

In [ ]:
grades_list=[75,80,20,100,55]
## write list comprehision for printing if the student pass or fail
res=['Pass' if g>=70 else 'Fail' for g in grades_list]
print(res)

['Pass', 'Pass', 'Fail', 'Pass', 'Fail']

### Nested for

In [ ]:
# 2-D List
matrix = [[1, 2, 3],
          [4, 5],
          [6, 7, 8, 9]]

flatten_matrix = []

for row in matrix:
        ##print(row)
        for r in row:
            flatten_matrix.append(r)

print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#join list
l1=["h1","h2"]
l2=[4,'h3',8,.7]
l3=l1+l2
l3

['h1', 'h2', 4, 'h3', 8, 0.7]

In [9]:
l1.append(l2)
l1

['h1', 'h2', [4, 'h3', 8, 0.7]]

In [13]:
l1.extend({"t",8})
l1

['h1', 'h2', [4, 'h3', 8, 0.7], 4, 'h3', 8, 0.7, 't', 't', 8, 8, 't']

In [15]:
'h1' not in l1

False

In [18]:
l1.reverse()
l1

['t', 8, 8, 't', 't', 0.7, 8, 'h3', 4, [4, 'h3', 8, 0.7], 'h2', 'h1']

In [19]:
l2=l2[::-1]
l2

[0.7, 8, 'h3', 4]

In [22]:
l4=[20,5,8,4,6,0]
l4.sort(reverse=True)
l4

[20, 8, 6, 5, 4, 0]

In [23]:
sorted(l4)

[0, 4, 5, 6, 8, 20]

In [25]:
l4

[20, 8, 6, 5, 4, 0]

In [24]:
for i in enumerate(l4):
  print(i)

(0, 20)
(1, 8)
(2, 6)
(3, 5)
(4, 4)
(5, 0)

In [27]:
#all(l4)
any(l4)

True

In [28]:
#list comprehensions
t="welcome"
l5=[i for i in t]
l5

['w', 'e', 'l', 'c', 'o', 'm', 'e']

In [29]:
even_num=[i for i in range (40) if i%2==0 ]
even_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [30]:
odd_num=[ i for i in range(40) if i%2==1]
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [31]:
sqr_num=[i**2 for i in range(10)]
sqr_num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
l5=[1,5,7,8,9]
l6=[i*10 for i in l5]
l6

[10, 50, 70, 80, 90]

In [33]:
l7=[i for i in range(40) if i%3==0 if i%6==0 if i%9==0]
l7

[0, 18, 36]

In [34]:
l8=[print("{} is even number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(10)]

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [38]:
#extract number from string
mystr="one 1 two 2 three 3 five 5 six 9864"
num=[i for i in mystr if i.isdigit()]
num

['1', '2', '3', '5', '9', '8', '6', '4']

In [39]:
num2_alpha=[i for i in mystr  if i.isalpha()]
num2_alpha

['o',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [51]:
import random
#Plot the execution times against the input sizes.
"""
O(n) - Linear: If the execution time roughly doubles
when you double the input size, the complexity is likely O(n).
O(n^2) - Quadratic: If the execution time roughly quadruples when you double the input size,
 the complexity is likely O(n^2).
O(log n) - Logarithmic: If the execution time increases slowly as the input size grows,
 the complexity is likely O(log n).
"""
def search_list(lst, target):
  """Searches a list for a target value."""
  for i, value in enumerate(lst):
    if value == target:
      return i  # Return index if found
  return -1  # Return -1 if not found

# Example usage with a list of 1000 random numbers:
my_list = [i for i in range(20)]
target = 5

%timeit search_list(my_list, target)

615 ns ± 8.68 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [42]:
!pip install memory_profiler

Collecting memory_profiler
  Downloading memory_profiler-0.61.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from memory_profiler) (5.9.5)
Downloading memory_profiler-0.61.0-py3-none-any.whl (31 kB)
Installing collected packages: memory_profiler
Successfully installed memory_profiler-0.61.0

In [48]:
#%%file temp_script.py

from memory_profiler import profile

@profile
def my_function():
  a = [x for x in range(10000)]
  b = [x**2 for x in range(10000)]
  del b  # Remove b to see memory released

Tuples
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [69]:
tup7 = ('Asif', 25 ,[50, 100],[150, 50] , {'John' , 'David'} , (99,22,33))
len(tup7)
tup7[2][0] #indexing
tup7[-1]
tup7[:] #slicing
tup7[2:5]
#del tup7[0] # Tuples are immutable which means we can't DELETE tuple items
#tup7[0]=1 # Tuples are immutable which means we can't CHANGE tuple items
#del tup7  # Deleting entire tuple object is possible

([50, 100], [150, 50], {'David', 'John'})

In [75]:
tup7.count(25)
mytuple2 = (43,67,99,12,6,90,67)
mytuple2.index(99)
#mytuple2.sort()'tuple' object has no attribute 'sort'
sorted(mytuple2)
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]

Sets

1) Unordered & Unindexed collection of items.

2) Set elements are unique. Duplicate elements are not allowed.

3) Set elements are immutable (cannot be changed).

4) Set itself is mutable. We can add or remove items from it.

In [101]:
#unhashable type: 'list',# set doesn't allow mutable items like list,set
myset={1,2,3.7,4,5,6,7,8,9,9,"hadeer",(3,9,0)}
myset
myset1=set()
print(type(myset1))
myset1=set(('h','y'))
myset1
#Add & Remove Items
myset1.add(('v','h','u')) # Add item to a set using add() method
myset1.update(['v','h','u'])#Add multiple item
myset1.remove('h') # Remove item in a set using remove(), you will get an error if the item is not there to remove
myset1.discard('h') # Remove item in a set using discard(), no error even if the item is not there to remove
myset1.clear() # Remove all items in a set using clear() method
#del myset1 # Delete the set completely
myset1

<class 'set'>

set()

Dictionary

   1-Dictionary is a mutable data type in Python.

  2-A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.

  3-Keys must be unique in a dictionary, duplicate values are allowed.

In [102]:
mydict=dict()
mydict1={}

In [103]:
mydict1={1:'a',2:'b',3:'c'}
mydict1

{1: 'a', 2: 'b', 3: 'c'}

In [104]:
mydict=dict({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [107]:
mydict2={1:'one','A':'two',3:'three'} # dictionary with mixed keys
mydict2.keys()  # Return Dictionary Keys using keys() method
mydict2.values() # Return Dictionary Values using values() method
mydict2.items()# Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [110]:
mydict3={1:'one' , 2:'two' , 'A':{'asif' , 'john' , 'Maria'}}
mydict3['A']

{'Maria', 'asif', 'john'}

In [111]:
mydict4 = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B': ('Bat', 'cat', 'hat')}
mydict4['A']['Name']

'asif'

In [113]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict5=dict.fromkeys(keys,value)
mydict5

{'d': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [114]:
value.append(40)
mydict5

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

In [125]:
#Accessing Items
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict[1]      # Access item using key
mydict.get(2)  # Access item using get() method
#Add, Remove & Change Items
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1['DbB'] = 1992 # Changing Dictionary Items
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki', 'DbB': 1992}

In [126]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki', 'DbB': 1992}

In [127]:
mydict1.pop('DbB')# Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [128]:
mydict1.popitem() # A random item is removed

('Address', 'Hilsinki')

In [129]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [130]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [131]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [134]:
#Loop through a Dictionary
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address': 'Hilsinki',
 'Job': 'Analyst'}

mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [136]:
for i in mydict1:
  print(i,":",mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [142]:
#Dictionary Membership
'Name' in mydict1# Membership test can be only done for keys.
'Asif' in mydict1 # not check on values
#All / Any also check on keys
mydict1[0] = 'test1'
all(mydict1)
mydict1
any(mydict1)

True

In [144]:
#Dictionary Comprehension
mydict={i:i*2 for i in range(10)}
mydict

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [145]:
key=['one','two','three','four']
value=[1,2,3,4]
mydic3={k:v   for (k,v)in zip(key,value)}
mydic3

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [146]:
mystr='hello'
mydict4={k:v for k,v in enumerate(mystr)}
mydict4

{0: 'h', 1: 'e', 2: 'l', 3: 'l', 4: 'o'}

In [148]:
#Word Frequency using dictionary
mystr4 = "one two three four one two two three five five six seven six seven one"

In [150]:
mystr4.count("one")

3

In [157]:
mystr5=mystr4.split()
len(mystr5)

15

In [151]:
mydict5={}
for i in mystr5:
  if i not in mydict5:
    mydict5[i]=mystr5.count(i)

In [152]:
mydict5

{'one': 3, 'two': 3, 'three': 2, 'four': 1, 'five': 2, 'six': 2, 'seven': 2}

In [153]:
myset5=set(mystr5) # to get unique values
myset5

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [154]:
#convert set to list to make it felixable  and indexing
mylist5=list(myset5)
mylist5

['five', 'six', 'seven', 'one', 'two', 'three', 'four']

In [158]:
count=[0]*len(mylist5)
for i in range (len(mylist5)):
  for j in range(len( mystr5)):
    if mylist5[i]==  mystr5[j]:
      count[i]+=1
    #print("value {} repited {} times in string in every iterate {}".format(mylist5[i],count[i],j))
  mydict5[mylist5[i]]=count[i]
mydict5

{'one': 3, 'two': 3, 'three': 2, 'four': 1, 'five': 2, 'six': 2, 'seven': 2}

**Functions**

  1-A function is a block of organized
   code written to carry out a specified task.

  2-Functions help break our program into smaller and modular chunks for better readability.

  3-Information can be passed into a     function as arguments.

  4-Parameters are specified after the
   function name inside the parentheses.

  5-We can add as many parameters as we
   want. Parameters must be separated with a comma.
  6- A function may or may not return data.
  7- In Python a function is defined using the def keyword
  
**Parameter VS Argument**

A parameter is the variable listed inside the parentheses in the function definition.
An argument is the value that is sent to the function when it is called.

 ***Types of fuctions in python ***


1-Built-in function :- Python predefined functions that are readily available for use like min() ,max() , sum() , print() etc.

2-User-Defined Functions:- Function that we define ourselves to perform a specific task.

3-Anonymous functions : Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the def keyword.

In [159]:
def square (n):
  n=n*n
  return n
square(10)

100

In [163]:
def odd_even (num):
  """ This function will check whether a number is even or odd"""
  if num%2==0:
    print(num,'is even number')
  else:
    print(num,'is odd number')

odd_even (2)
odd_even (5)
print(odd_even.__doc__)

2 is even number
5 is odd number
 This function will check whether a number is even or odd

In [164]:
def myfunc(city = 'Mumbai'):
 print('Most Populous City :- ', city)

myfunc() # When a function is called without an argument it will use default value

Most Populous City :-  Mumbai

In [168]:
var=100 # variable with global scope
def myfun():
  var=10 # variable with local scope
  print(var)
myfun()
print(var)

10
100

In [173]:
def swap (a,b):
  temp=a
  a=b
  b=temp
  return a,b

a=10 ; b=20
r=swap(a,b)

(10, 20)

In [174]:
# Calculate factorial of a number using recursive function
def frac (num):
  if num <=1:
    return 1
  else:
    return num* frac(num-1)

frac(4)

24

In [175]:
# Sum of first n natural numbers
def add(num):
  if num ==0:
    return 0
  else:
    return num+add(num-1)

add(5)

15

In [178]:
def fiboacci(num):
  if num <= 1:
     return num
  if num == 2:
     return 1
  else:
     return(fiboacci(num-1) + fiboacci(num-2))

nums = int(input("How many fibonacci numbers you want to generate -"))
for i in range(nums):
 print(fiboacci(i)) # Generate Fibonacci series

How many fibonacci numbers you want to generate -10
0
1
1
2
3
5
8
13
21
34